@layout.base({ title: 'Homepage'})
  <h1> It Works! </h1>

  <div className="flex flex-wrap justify-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, labore. Pariatur officiis fugit unde deleniti nisi quis, accusamus vitae consequatur!
  </div>

@end
